/* Import the Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0f2027 0%, #203a43 50%, #2c5364 100%); /* Gradient for more depth */
  color: #ffffff; /* Light text color */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  overflow-x: hidden;
  animation: fadeInBody 1s ease-in-out;
}

.title-with-logo {
  display: flex;
  align-items: center;
  justify-content: center; /* Center align title and logo */
}

.site-logo {
  width: 350px; /* Adjust size as needed */
  height: auto;
}
@media (max-width: 768px) {
  .site-logo {
    width: 175px; /* Adjust size as needed */
    height: auto;
  }
}
@keyframes fadeInBody {
  from { opacity: 0; }
  to { opacity: 1; }
}

h1 {
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  background: linear-gradient(135deg, #ff416c 0%, #ff4b2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slideIn 1s ease-out;
  margin-top: 40px;
  font-size: 2rem; /* Default size */
  font-style: italic;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.search-container {
  display: flex;
  justify-content: center; /* This centers the search bar horizontally */
  margin-top: 20px; /* Add some space above the search bar */
}
/* Search bar styles */
.search-bar {
  width: 90%;
  max-width: 400px;
  padding: 15px;
  margin: 20px 0;
  border-radius: 25px;
  border: 1px solid #666;
  background-color: #222;
  margin-left: 20px;
  color: #ffffff;
  font-size: 1.2rem;
  outline: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}

h4 {
  font-size: 15px;
  margin-top: -15px;
  color: #ff416c;
}


.search-bar:focus {
  border-color: #ff416c;
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(255, 65, 108, 0.5);
}

/* Grid container for movie cards */
.movies-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.movie-card {
  position: relative;
  background: #1e1e1e;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-left: -15px;
  width: 97%;
  max-width: 350px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: cardFadeIn 0.7s ease;
}

@keyframes cardFadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);

}

.movie-image {
  border-radius: 15px;
  width: 100%;
  transition: opacity 0.3s;
}

.movie-image:hover {
  opacity: 0.8;
}

h2 {
  font-size: 1.6rem;
  margin: 10px 0;
}

h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.ratings-list,
.screenings-container {
  margin: 0;
  padding: 0;
}

.ratings-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.rating-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
  flex-shrink: 0;
  animation: fadeInRating 0.5s ease;
}

@keyframes fadeInRating {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 7px;
}

/* App.css */
.logo-link {
  display: inline-block; /* Ensures the anchor tag wraps around the image properly */
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.logo-link:hover {
  transform: scale(1.1); /* Scale the logo slightly on hover */
}


.rating-text {
  color: #ffffff;
  font-weight: 600;
  margin-right: 7px;
}

.trailer-link {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #ff416c;
  font-weight: bold;
  transition: color 0.3s;
}

.trailer-link:hover {
  color: #ff4b2b;
  text-decoration: underline;
}

.screenings-container {
  display: flex;
  flex-direction: column;
}

.screening-card {
  background: #333;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #ffffff;
  direction: rtl;
  animation: slideUp 0.6s ease forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.screening-times-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.ellipse {
  background-color: #555;
  border-radius: 12px;
  padding: 4px 8px;
  font-size: 0.85rem;
  color: #a0cafd;
  font-weight: bold;
}

.toggle-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #ff416c;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color: #ff4b2b;
}

/* Media Queries */
@media (min-width: 600px) {
  .movies-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .movies-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .movies-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.current-date {
  font-size: 0.8rem; /* Make the font size small */
  font-style: italic; /* Italicize the text */
  color: #38667a; /* Text color */
  margin-top: -20px; /* Adjust margin as needed */
  text-align: center; /* Center-align the text */
  width: 100%; /* Ensure the element takes the full width */
  /* Optional: Adjust vertical positioning if needed */
}

/* Responsive size adjustments */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem; /* Smaller size for mobile */
  }
}
